* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}

/*html,body*/
/*{*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/
/*body > div*/
/*{*/
/*    height: 100%;*/
/*    display: block;*/
/*    position: relative;*/
/*}*/
body .print-footer
{
    margin-top: 20rem;
}

#invoice{
    padding: 10px;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice #header {
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid black
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    text-transform: capitalize;
}

.invoice .invoice-to .address, .invoice .invoice-to .email {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
}

.invoice .invoice-details {
    text-align: left;
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: black
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -100px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #3989c6
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px
}

.invoice table th {
    padding: 15px;
    background: #d8d8d8;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    font-weight: bolder !important;
    text-align: center;
}

.invoice table td {
    text-align: center;
    color: black;
    padding: 20px 0;
    font-size: 20px;
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice-details table td {
    background-color: white !important;
    padding: 5px !important;
    white-space: nowrap;
    border: none !important;
    font-weight: 500 !important;
    font-size: 18px;
    text-align: left;
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #3989c6;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    /*color: #fff;*/
    /*font-size: 1.6em;*/
    /*background: #3989c6*/
}

.invoice table .unit {
    background: #ddd
}

.invoice table .total {
    background: #3989c6;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

/*.invoice table tfoot tr:last-child td {*/
/*    color: #3989c6;*/
/*    font-size: 1.4em;*/
/*    border-top: 1px solid #3989c6*/
/*}*/

.invoice table tfoot tr:nth-last-child(-n+2) td {
    color: #3989c6;
    font-size: 1.4em;
    border-top: 1px solid #3989c6
}

/*.invoice > .footer-highlight {*/
/*    */
/*}*/

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: avoid
    }

    .invoice>div:last-child {
        page-break-before: avoid
    }

    .toolbar {
        display: none !important;
    }
}