mixin navigator(props = {})
  -var {classname= ''} = props;
  div(class=`navigator ${classname}`)
    ul
      li.relative
        a(href='')
          | Home
          span.dropable-icon
            i.fas.fa-angle-down
        ul.dropdown-menu
          li
            a(href='') Beauty Salon
          li
            a(href='homepage2.html') Makeup Salon
          li
            a(href='homepage3.html') Natural Shop
          li
            a(href='homepage4.html') Spa Shop
          li
            a(href='homepage5.html') Mask Shop
          li
            a(href='homepage6.html') Skincare Shop
      li
        a(href='services.html') Services
      li
        a(href='about.html') About
      li
        a(href='shop-fullwidth-4col.html')
          | Shop
          span.dropable-icon
            i.fas.fa-angle-down
        ul.dropdown-menu.-wide
          ul.dropdown-menu__col
            li
              a(href='shop-fullwidth-4col.html') Shop Fullwidth 4 Columns
            li
              a(href='shop-fullwidth-5col.html') Shop Fullwidth 5 Columns
            li
              a(href='shop-fullwidth-left-sidebar.html') Shop Fullwidth Left Sidebar
            li
              a(href='shop-fullwidth-right-sidebar.html') Shop Fullwidth Right Sidebar
          ul.dropdown-menu__col
            li
              a(href='shop-grid-4col.html') Shop grid 4 Columns
            li
              a(href='shop-grid-3col.html') Shop Grid 3 Columns
            li
              a(href='shop-grid-sidebar.html') Shop Grid Sideber
            li
              a(href='shop-list-sidebar.html') Shop List Sidebar
          ul.dropdown-menu__col
            li
              a(href='product-detail.html') Product Detail
            li
              a(href='cart.html') Shopping cart
            li
              a(href='checkout') Checkout
            li
              a(href='wishlist.html') Wish list
          ul.dropdown-menu__col.-banner
            a(href='shop-fullwidth-4col.html')
              img(src='assets/images/header/dropdown-menu-banner.png' alt='New product banner')
      li
        a(href='blog.html') Blog
      li
        a(href='contact.html') Contact