/*h1{*/
/*    color:orange;*/
/*background-color: slategrey;*/
/*    font-size: 20px;*/
/*    text-decoration: line-through;*/
/*    font-family: arial;*/
/*    text-align: center;*/

/*}*/
/*p{*/
/*    color: slategrey;*/
/*    text-align: right;*/
/*    line-height: 30px;*/
/*    letter-spacing: 3px;*/
/*}*/
/*ul{*/
/*    !*border-width: 4px;*!*/
/*    !*border-style: solid;*!*/
/*    !*border-color:crimson;*!*/
/*    !*border: 4px solid crimson;*!*/
/*    !*border-bottom: 4px solid crimson;*!*/
/*    border-left: 4px solid crimson;*/
/*}*/
span{
    margin:20px;
    padding: 20px;
}
div{
    border:2px solid crimson;
    margin:20px;
    padding:20px;
}
.cock{color: lightseagreen}
